/* font-family: 'Quicksand', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Press Start 2P', cursive; */
/* font-family: 'Unica One', cursive; */

/* This stylesheet was made by Catherine Laserna */


/* Date Last Updated: 03/31/2020 */


/* GENERAL */

* {
    margin: 0;
    padding: 0;
}


/* Reset CSS */
button {
  border: 0;
  background-color: transparent;
}
button:focus {outline:0;}
body {
    background-color: white;
    color: #1a0841;
	height: 100%;
	width: 100%;
	font-weight: 100;
	margin: 0;
}

html{
	height: 100%;
	margin: 0;
}

a{
	color: #1a0841;
	font-family: 'Open Sans', sans-serif;
}
a:visited{
	color: #1a0841;
}
a:active{
	color: #1a0841;
}
h1{
	font-family:'Quicksand', sans-serif; 
	font-size: 2vw;
	font-weight:lighter;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5vw;
	font-weight: 600;
}
span{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5vw;
	font-weight:bold;
}
.site{
	overflow:hidden;
}
.subtext{
	font-size: 0.8vw;
}
.section_wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
	width:100%;
}
/* End of GENERAL */


/* header */
header{
	background-image: url('https://spark.adobe.com/page/2mRk3T88V5tEi/images/3bb8070d-c932-4bd8-a346-7a55e1c6900c.jpg?asset_id=4cdc889b-7be8-4598-bc8b-ed22bf88c6c4&img_etag=4e034120a63854b9de4cfdfa8d5c2291&size=2560');
	color:white;
	height: 20vw;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.overlay{
	background-color: rgba(0,0,0,0.5);
	height:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.text_container{
	text-align:center;
}
.title{
	font-family: 'Unica One', cursive;
	font-size: 5vw;
}
/* end of header */
/* menu */
.menu_wrapper{
	position: relative;
	width:100%;
	margin-top: 10px;
	display: flex;
	justify-content: center;
	align-items:center;
}
.menu{
	width: 80vw;	
	height: 100%;
	display: flex;
	justify-content: center;
	align-items:center;
}
.menu ul{
	list-style-type: none;
}
.menu li{
	float:left;
}
.menu a{
	font-size: 1vw;
	text-decoration: none;
	display:block;
	padding:8px;
	-webkit-box-shadow:inset 0px 0px 0px 0px white;
	-moz-box-shadow:inset 0px 0px 0px 0px white;
    box-shadow:inset 0px 0px 0px 0px white;
	background-color:transparent;
	transition: color 0.3s, transform 0.6s, box-shadow 0.6s;
}
.menuitem:hover{
	box-sizing: border-box;
    -webkit-box-shadow:inset 0px -1px 0px 0px black;
	-moz-box-shadow:inset 0px -1px 0px 0px black;
    box-shadow:inset 0px -1px 0px 0px black;
	color: #f638dc;
	-webkit-transform:translateY(-2px);
    transform: translateY(-2px);
}
.menu li:first-child{ 
	padding-right: 30vw;
}
#home{ 
	color: black;
	-webkit-transition:color 0.3s;
	transition:color 0.3s;
}
#home:hover{
	color:#f638dc;
}
/* end of menu */

/* workbar */

.workbar_wrapper{
	width:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
}
.workbar_inner{
	width: 45%;
	height: 20vw;
	overflow:hidden;
	padding: 5px;
	margin: 10px;
	transition: all .2s;
	border-radius: 15px;
	cursor: pointer;
}
.workbar_img{
	width:100%;
	height:100%;
	border-radius: 15px;
	overflow:hidden;
	transition: all .5s;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.35);
	
	background-color: #a4508b;
	background-size: cover;
	background-position: center bottom;
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.workbar_img:before{
	content: "";
	display: none;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
}
.workbar{
	color:white;
	width:100%;
	transition: all .2s;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.workbar.title{
	display: flex;
	z-index: 9;
	opacity: 1;
	position: absolute;
}
.workbar.text{
	display:flex;
	z-index:9;
	width:50%;
	opacity:0;
	position: absolute;
}
.workbar.text p{
	font-size: 1vw;
}
.workbar_inner:hover .workbar_img{
	transform: scale(1.2);
}
.workbar_inner:hover .workbar_img:before{
	display: block;
}
.workbar_inner:hover .workbar.title{
	opacity:0;
}
.workbar_inner:hover .workbar.text{
	opacity: 1
}
.workbar_img.birb{
	display:flex;
	background-color: #a4508b;
	background-image: linear-gradient(326deg, rgba(164, 80, 139, 0.52) 0%, rgba(95, 10, 135, 0.52) 74%), url('https://raw.githack.com/cjlaserna/portfolio/master/images/pengigamedesktopmockup.png');
}
.workbar.birb {
	display:flex;
}
.workbar_img.vcb{
	display:none;
	background-color: #a4508b;
	background-image: linear-gradient(326deg, rgba(164, 80, 139, 0.52) 0%, rgba(95, 10, 135, 0.52) 74%), url('https://raw.githack.com/cjlaserna/portfolio/master/images/vibecheckbotdesktop.png?raw=true');
}
.workbar_img.expos{
	display:none;
	background-color: #a4508b;
	background-image: linear-gradient(326deg, rgba(164, 80, 139, 0.52) 0%, rgba(95, 10, 135, 0.52) 74%), url('https://raw.githack.com/cjlaserna/portfolio/master/images/teachingai.png?raw=true');
	background-position:center;
}
/* workbar arrows */
.arrow_container{
	width:45vw;
	text-align: center;
}
.arrow_container span{
	display:inline-block;
	font-weight: lighter;
	font-size: 1.75vw;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.35);
}
.right {
	display:inline-block;
	position:relative;
	width: 2vw;
	height: 2vw;
	border: 1px solid #222;
	border-radius: 50%;
	float:right;
}

.right:after {
	content: '';
	display: inline-block;
	position:absolute;
	height: .8vw;
	width: .8vw;
	top: 30%;
	transition: border 0.35s;
	left: 20%;
	border-top: 1px solid #222;
	border-right: 1px solid #222;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.left {
	display:inline-block;
	position:relative;
	width: 2vw;
	height: 2vw;
	border: 1px solid #222;
	border-radius: 50%;
	float:left;
}

.left:after {
	content: '';
	display: inline-block;
	position:absolute;
	height: .8vw;
	width: .8vw;
	top: 30%;
	right: 20%;
	transition: border 0.35s;
	border-top: 1px solid #222;
	border-right: 1px solid #222;
	-moz-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.arrow{
	background-color:transparent;
	transition: background-color 0.35s;
	transition: box-shadow 0.2s;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.35);
}
.arrow:hover{
	cursor:pointer;
	background-color: #22002e;
	box-shadow: 2px 2px rgba(0, 0, 0, .8);
}
.left:hover:after{
	border-right-color: white;
	border-top-color: white;
}
.right:hover:after{
	border-right-color: white;
	border-top-color: white;
}
/* end of workbar */


/* about */
.about-outer{
	width: 100%;
	display:flex;
	align-items: center;
	justify-content:center;
	flex-direction:column;
}
.about-wrapper{
	width: 50vw;
	display:flex;
	align-items: center;
	justify-content:center;
}
.aboutbox{
	box-shadow: 2px 2px rgba(0, 0, 0, 0.35);
	width: 45%;
	height: 20vw;
	background-color: #a4508b;
	background-image: linear-gradient(326deg, rgba(164, 80, 139, 0.52) 0%, rgba(95, 10, 135, 0.52) 74%);
	border-radius:15px;
	
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 5px;
	margin-right:5px;
	padding:10px;
	
	transition: all .2s;
	cursor: pointer;
	position:relative;
	
	display:flex;
	align-items: center;
	justify-content:center;
	flex-direction:column;
}

.aboutbox h1{
	color:white;	
	text-shadow: 2px 2px rgba(0, 0, 0, 0.35);
	transition: all .2s;
	position: absolute;
	top: 45%;
	height:calc(100%-45%);
}
.prsnl{
	background-position:top left;
	background-image: linear-gradient(326deg, rgba(164, 80, 139, 0.52) 0%, rgba(95, 10, 135, 0.52) 74%), url('https://raw.githack.com/cjlaserna/portfolio/master/images/2019-12-08.jpg?raw=true');
}
.prsnl:hover{
	background-image: linear-gradient(326deg, rgba(164, 80, 139, 0.75) 0%, rgba(95, 10, 135, 0.75) 74%), url('https://raw.githack.com/cjlaserna/portfolio/master/images/2019-12-08.jpg?raw=true');
}
.skill{
	background-position:center;
	background-image: linear-gradient(326deg, rgba(164, 80, 139, 0.52) 0%, rgba(95, 10, 135, 0.52) 74%), url('https://raw.githack.com/cjlaserna/portfolio/master/images/poster.jpg?raw=true');
}
.skill:hover{
	background-position:center;
	background-image: linear-gradient(326deg, rgba(164, 80, 139, 0.75) 0%, rgba(95, 10, 135, 0.75) 74%), url('https://raw.githack.com/cjlaserna/portfolio/master/images/poster.jpg?raw=true');
}
.aboutbox p{
	color:white;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.35);
	margin: 15px;
	font-size: 1vw;
	font-weight: 500;
	position:absolute;
	top: 15%;
	opacity:0;
	transition: all .1s;
}
.aboutbox:hover{
	width:50vw;
}
.abtactive h1{
	top: 5%;
}
.abtactive p{
	opacity: 1;
	float:left;
}
/* end of about */

/* Contact */
.contact-outer{
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	background-image: linear-gradient(326deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 74%), url('https://spark.adobe.com/page/2mRk3T88V5tEi/images/3bb8070d-c932-4bd8-a346-7a55e1c6900c.jpg?asset_id=4cdc889b-7be8-4598-bc8b-ed22bf88c6c4&img_etag=4e034120a63854b9de4cfdfa8d5c2291&size=2560');
	background-position:center;
	background-attachment:fixed;
}
.contact-wrapper{
	display:flex;
	align-items:center;
	justify-content:center;
}
.fa{
	padding: 10px;
	width: 25px;
	height: 25px;
	margin-left:10px;
	margin-right: 10px;
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	background-color:black;
	color:white;
	transition: background-color 0.3s, color 0.3s;
}
a.fa{
	color:white;
	font-size: 25px;
	transition: box-shadow 0.2s;
}
a.fa:visited{
	color:white;
}
a.fa:active{
	color:white;
}
a.fa:hover{
	background-color:white;
	color:black;
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
}
.contact-text{
	font-size: 15px;
	color:white;
	font-weight:lighter;
	margin: 0;
}
/* end of contact*/


/* animations */
/* ----------------------------------------------
 * Generated by Animista on 2020-3-30 4:1:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/* Decided not to use slide transitions because of the hassle */
.slide-right {
	-webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

/* end of animations */

@media screen and (max-width: 640px) {
	header{
		height: 50vh;
	}
	.title{
		font-size: 10vw;
	}
	.subtext{
		font-size: 5vw;
	}
	.menu_wrapper{
		display:none;
	}
	.workbar_inner{
		width:95%;
		position:relative;
		height: 45vh;
	}
	.workbar_wrapper{
		position:relative;
	}
	.arrow_container{
		position:absolute;
		bottom: 50px;
		color:white;
		transform: scale(2);
	}
	.arrow_container span{
		font-size: 3vw;
	}
	.right, .left{
		width: 5vw;
		height: 5vw;
		border: 1px solid white;
	}
	.right:after, .left:after{
		height:1.5vw;
		width: 1.5vw;
		border-top: 1px solid white;
		border-right: 1px solid white;
	}
	.workbar h1{
		font-size: 10vw;
	}
	.workbar.text{
		display:flex;
		opacity:1;
		font-size: 10vw;
	}
	.workbar.text p{
		position:absolute;
		top: 50%;
		display: flex;
		font-size: 4vw;
	}
	.workbar.title h1{
		position:absolute;
		bottom: 50%;
	} 
	.workbar_inner:hover .workbar.title{
		opacity: 1;
	}
	.about-wrapper{
		width: 95vw;
		flex-direction:column;
	}
	.aboutbox{
		width: 95%;
		height: 25vh;
		display: flex;
		justify-content:center;
		align-items:center;
		flex-direction:column;
	}
	.aboutbox h1{
		font-size: 10vw;
		position:absolute;
		top: 40%;
	}
	.aboutbox p{
		position: absolute;
		font-size:4vw;
		top: 40%;
	}
	.aboutbox:hover{
		width:95%;
		height: 50vh;
	}
	.aboutbox:hover h1{
		top: 30%;
	}
}
