/* font-family: 'Quicksand', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Press Start 2P', cursive; */
/* font-family: 'Bungee Shade', cursive; */

/* This stylesheet was made by Catherine Laserna */


/* Date Last Updated: 12/27/2019 */


/* GENERAL */

* {
    margin: 0;
    padding: 0;
}


/* Reset CSS */

body {
    background-color: white;
    color: black;
	height: 100%;
	width: 80vw;
	margin: 0 auto;
}

html{
	height: 100%;
	margin: 0;
}

a{
	color:black;
	font-family: 'Open Sans', sans-serif;
}
a:visited{
	color:black;
}
a:active{
	color:black;
}
h1{
	font-family:'Quicksand', sans-serif; 
	font-size: 2vw;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5vw;
}

/* End of GENERAL */

.site{
	width:80vw;
}

/* header */
.header_insidewrapper{
	display: flex;
	justify-content:center;
	align-items: center;
	height:10vw;
}
.header_wrapper{
	margin: 0;
	height:13vw;
	display:block;
	overflow:hidden;
}
header{
	position:relative;
	width: 80vw;
	height: 10vw;
	text-align:center;
}
.title{
	font-family: 'Bungee Shade', cursive;
	font-size: 3vw;
	height: 8vw;
	text-align:center;
	padding: 10px;
	margin:5px;
}


.bot, .mid, .top{
	position:absolute;
}
.top{
	z-index:7;
	top: 1vw;
	background-color: rgba(255,0,0,0.25);
	right:20vw;
}
.mid{
	z-index:8;
	background-color: rgba(0,255,0,0.25);
	top:2vw;
	right: 18vw;
}
.bot{
	z-index:9;
	background-color: rgba(0,0,255,0.25);
	top: 3vw;
	right: 16vw;
	color: white;
}

.header_subtext{
	position:absolute;
	top: 10vw;
}
.header_main{
	display:flex;
	justify-content:center;
	align-items: center;
}
.subtext{
	position:relative;
	display:block;
}
/* end of header */
/* menu */
.menu_wrapper{
	position: relative;
	width:100%;
	display: flex;
	justify-content: center;
	align-items:center;
}
.menu{
	width: 80vw;	
	display: flex;
	justify-content: center;
	align-items:center;
}
.menu ul{
	list-style-type: none;
}
.menu li{
	float:left;
}
.menu a{
	font-size: 1vw;
	text-decoration: none;
	display:block;
	padding:8px;
}
.menu a:hover{
	color: #474747;
}
.menu li:first-child{
	padding-right: 30vw;
}

/* end of header */

/* programming skills */
table{
	width: 100%;
	margin:5px;
	padding: 10px;
}
th, td{
	width: 10vw;
	padding: .5vw;
	border: none;
}
th{
	font-family: 'Open Sans', sans-serif; 
	font-size: 1vw;
}
/* circlenav */
.circlenav{
	display:block;
}
.content{
	display:flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;
}
.pinkball{
	display:block;
	float:left;
	overflow: visible;
	height: 13vw;
	width: 13vw;
	border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
	transition: all 0.5s;
}
.pinkball:hover{
	border-radius: 0% ;
	cursor:pointer;
}
.pinkball p{
	position:relative;
	display: block;
	text-align: center;
	top: 40%;
}
/* end of circlenav */

/* @keyframes wobble { */
	/* 25%{ */
	/* border-radius: 59% 41% 22% 78% / 68% 52% 48% 32% ;} */
	/* 37.5%{ */
	/* border-radius: 79% 21% 92% 8% / 40% 61% 39% 60% ;} */
	/* 50% { */
    /* border-radius: 59% 41% 63% 37% / 56% 60% 40% 44%;} */
	/* 75%{ */
	/* border-radius: 35% 25% 22% 98% / 64% 35% 65% 36% ;} */
	/* 87.5%{ */
	/* border-radius: 30% 70% 73% 27% / 93% 11% 89% 7%  ;} */
	/* 100% { */
    /* border-radius: 59% 41% 22% 78% / 68% 19% 81% 32% ;} */
/* } */

/* Project cat notes 
you can pet the cat
you can give the cat socks
you can feed the cat
you can give the cat a box and it wil nap
*/ 